.root {
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-background-color: #ffffff;
}

/* Sidebar */
.sidebar {
    -fx-background-color: #f5f5f5;
    -fx-padding: 20;
    -fx-pref-width: 230;
}

.sidebar-title {
    -fx-text-fill: #333;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.sidebar-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #333;
    -fx-font-size: 14px;
    -fx-alignment: center-left;
}

.sidebar-btn:hover {
    -fx-background-color: #e0e0e0;
}

/* Section title */
.section-title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #222;
}

/* Buttons */
.button {
    -fx-background-color: #0078d7;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-padding: 6 12;
}

.button:hover {
    -fx-background-color: #005fa3;
}

.text {
    -fx-font-family: "Consolas";
}

.node-address {
    -fx-font-size: 11px;
    -fx-text-fill: #333;
}

.section-title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #222;
}

.pointer-label {
    -fx-font-weight: bold;
    -fx-text-fill: #b22222;
}
